---
http_interactions:
- request:
    method: get
    uri: "<API_URI>search/photos?page=1&per_page=10&query=dog&utm_campaign=api-credit&utm_medium=referral&utm_source=<UTM_SOURCE>"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>search/photos?page=2079&per_page=10&query=dog&utm_campaign=api-credit&utm_medium=referral&utm_source=<UTM_SOURCE>>;
        rel="last", <<API_URI>search/photos?page=2&per_page=10&query=dog&utm_campaign=api-credit&utm_medium=referral&utm_source=<UTM_SOURCE>>;
        rel="next"
      X-Total:
      - '20787'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":20787,"total_pages":2079,"results":[{"id":"qO-PIF84Vxg","created_at":"2018-08-15T17:11:28-04:00","updated_at":"2020-05-28T01:05:46-04:00","promoted_at":"2018-08-16T04:51:50-04:00","width":5184,"height":3456,"color":"#D0CBE9","description":"Fluffy
        cockapoo having the time of his life at the park","alt_description":"shallow
        focus photography of white shih tzu puppy running on the grass","urls":{"raw":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDY5OX0","full":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDY5OX0","regular":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDY5OX0","small":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDY5OX0","thumb":"https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDY5OX0"},"links":{"self":"<API_URI>photos/qO-PIF84Vxg","html":"<OAUTH_URI>photos/qO-PIF84Vxg","download":"<OAUTH_URI>photos/qO-PIF84Vxg/download","download_location":"<API_URI>photos/qO-PIF84Vxg/download"},"categories":[],"likes":724,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"s_n3DlAm8iY","updated_at":"2020-05-26T18:04:21-04:00","username":"joeyc","name":"Joe
        Caione","first_name":"Joe","last_name":"Caione","twitter_username":"_JoeyC_","portfolio_url":"http://behance.net/joeyc","bio":"\ud83c\udf55\ud83c\udfc0","location":"Cleveland,
        OH","links":{"self":"<API_URI>users/joeyc","html":"<OAUTH_URI>@joeyc","photos":"<API_URI>users/joeyc/photos","likes":"<API_URI>users/joeyc/likes","portfolio":"<API_URI>users/joeyc/portfolio","following":"<API_URI>users/joeyc/following","followers":"<API_URI>users/joeyc/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1446647338458-f976efa11db9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"_joeyc_","total_collections":0,"total_likes":119,"total_photos":16,"accepted_tos":true},"tags":[{"type":"landing_page","title":"dog","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"},"subcategory":{"slug":"dog","pretty_slug":"Dog"}},"title":"Dog
        Images & Pictures","subtitle":"Download free dog images","description":"Man''s
        best friend is something to behold in all forms: gorgeous Golden Retrievers,
        tiny yapping chihuahuas, fearsome pitbulls. Unsplash''s community of incredible
        photographers has helped us curate an amazing selection of dog images that
        you can access and use free of charge.","meta_title":"Dog Pictures | Download
        Free Images on Unsplash","meta_description":"Choose from hundreds of free
        dog pictures. Download HD dog photos for free on Unsplash.","cover_photo":{"id":"tGBRQw52Thw","created_at":"2018-01-19T09:20:08-05:00","updated_at":"2020-05-21T01:02:26-04:00","promoted_at":"2018-01-20T05:59:48-05:00","width":3264,"height":4896,"color":"#F1F2F0","description":"Dog
        day out","alt_description":"short-coated brown dog","urls":{"raw":"https://images.unsplash.com/photo-1516371535707-512a1e83bb9a?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1516371535707-512a1e83bb9a?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://ima[...]
[...]
- request:
    method: get
    uri: "<API_URI>search/photos?page=1&per_page=30&query=dog&utm_campaign=api-credit&utm_medium=referral&utm_source=<UTM_SOURCE>"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Thu, 09 Jul 2020 05:40:14 GMT
recorded_with: VCR 6.0.0
